.App {
  text-align: left;
}

.hidden-class {
  visibility: hidden;
}

.required {
  border-radius: 4px ;
  border-color: red;
}
.required + .help-text::before {
 content: '*Required';
 color: red;
}

.App-link {
  color: #61dafb;
}
